[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/plugins/start/vim-puppet"]
	path = .vim/pack/plugins/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
